* {
  margin: 0;
}

body {
  background-color: #f5f6fa;
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: lighter;
}

.App {
  display: flex;
  justify-content: space-evenly;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100vw;
  height: 100vh;
}

.App-left {
  background-color: white;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-between;
  box-shadow: 0 0 8px -4px rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 280px;
}

.App-right {
  background-color: white;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-between;
  box-shadow: 0 0 8px -4px rgba(0, 0, 0, 0.5);
  height: 100%;
  flex: 0.8;
}

/* MAP STYLING */

.map {
  height: 200px;
  background-color: white;
  padding: 1rem;
  border-radius: 20px;
  margin-top: 16px;
  box-shadow: 0 0 8px -4px rgba(0, 0, 0, 0.5);
}

/* MAP STYLING */

@media (max-width: 990px) {
  .App {
    flex-direction: column;
  }
}
